<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="display-1">Notes App</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque hic sapiente quas expedita ea provident obcaecati ab ullam animi veritatis?</p>
      <a href="" class="btn btn-primary">link a la pagina</a>
    </div>
  </div>
</div>