<div class="row text-white">
    <div class="col-12 mb-4">
      <h1 class="display-2 fw-bold">Notes App</h1>
      <hr>
      <p class="lead">Notes App made with NodeJS, ExpressJS & MongoDB</p>
    </div>
      <div class="col-md-2">
        <a href="https://github.com/mroldsma" class="btn btn-secondary btn-lg w-100 d-flex align-items-center justify-content-center text-black shadow"><i class='bx bx-lg bxl-github' ></i></a>
      </div>
  </div>
